<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>

    <style>
        table, th, td{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <%- include('header.ejs') %>
    <a href="/">Student</a>
    <a href="/course">Course</a>
    <a href="/instructor">Instructor</a>
    <a href="/course">Course</a>
    <a href="/grade">Grade</a>
    <a href="/semester">Semester</a>
    <a href="/payment">Payment</a>
    <a href="/notification">Notification</a>
        <form action="" method="post">
            <div>
                <label for="student">Select Student:</label>
                <select id="student" name="student">
                    <% students.forEach(function(student) { %>
                        <option value="<%= student._id %>"><%= student.firstName %> <%= student.lastName %></option>
                    <% }); %>
                </select>
            </div>
            <div>
                <label for="course">Select Course:</label>
                <select id="course" name="course">
                    <% courses.forEach(function(course) { %>
                        <option value="<%= course._id %>"><%= course.courseName %></option>
                    <% }); %>
                </select>
            </div>
            <div>
                <input type="text" name="date" placeholder="Enrollment Date">
                <input type="text" name="status" placeholder="Enrollment Status">
            </div>
            <br>
            <button>Submit</button>      
        </form>
    <table>
        
        <% if(details!=null) { %>
        <tr>
            <th>Student Name</th>
            <th>Course</th>
            <th>Enrollment Date</th>
            <th>Enrollment Status</th>
            <th colspan="2">Actions</th>
        </tr>
        <% details.forEach(function(item){ %>
        <tr>
            <td>
                <% if (item.student) { %>
                  <%= item.student.firstName %> <%= item.student.lastName %>
                <% } else { %>
                  N/A <!-- or any other default value you prefer -->
                <% } %>
            </td>
            <td>
                <% if (item.course) { %>
                  <%= item.course.courseName %>
                <% } else { %>
                  N/A <!-- or any other default value you prefer -->
                <% } %>
            </td>
            <td><%= item.date %></td>
            <td><%= item.status %></td>
            <td>
                <button class="edit-button">Edit</button>
            </td>
            <td><button class="delete-button" data-enrollment-id="<%= item._id %>">Delete</button></td>
        </tr>

        <tr class="edit-form" style="display: none;">
            <td>
                <label for="student">Select Student:</label>
                <select class="student-select" name="student">
                    <% students.forEach(function(student) { %>
                        <option value="<%= student._id %>"><%= student.firstName %> <%= student.lastName %></option>
                    <% }); %>
                </select>
            </td>
            <td>
                <label for="course">Select Course:</label>
                <select class="course-select" name="course">
                    <% courses.forEach(function(course) { %>
                        <option value="<%= course._id %>"><%= course.courseName %></option>
                    <% }); %>
                </select>
            </td>
            <td><input type="text" name="date" value="<%= item.date %>"></td>
            <td><input type="text" name="status" value="<%= item.status %>"></td>
            <td><button class="update-button" data-enrollment-id="<%= item._id %>">Update</button></td>
        </tr>
        <% })%>
    </table>
    <% }%>

    <script>
        const deleteButtons = document.querySelectorAll(".delete-button");
    
        deleteButtons.forEach(button => {
            button.addEventListener("click", async (event) => {
                event.preventDefault();
                const enrollmentId = button.getAttribute("data-enrollment-id");
                console.log(enrollmentId)
                try {
                    const response = await fetch(`/delete/enrollment/${enrollmentId}`, {
                        method: "DELETE",
                    });
    
                    if (response.ok) {
                        // Reload the page after successful deletion
                        window.location.reload();
                    } else {
                        console.error("Error deleting enrollment");
                    }
                } catch (error) {
                    console.error(error);
                }
            });
        });


        const editButtons = document.querySelectorAll(".edit-button");

        editButtons.forEach(button => {
            button.addEventListener("click", () => {
                const row = button.parentElement.parentElement;
                const editForm = row.nextElementSibling; // Get the next row, which is the edit form
                console.log("clicked edit", editForm)
                row.style.display = "none";
                editForm.style.display = "table-row"; // Show the edit form
            });
        });


        const updateButtons = document.querySelectorAll(".update-button");

        updateButtons.forEach(button => {
            button.addEventListener("click", async () => {
                console.log('update clicked!')
                const editForm = button.parentElement.parentElement;
                const studentSelect = editForm.querySelector(".student-select");
                const courseSelect = editForm.querySelector(".course-select");
                const enrollmentId = button.getAttribute("data-enrollment-id");
                console.log('editForm: ', editForm);
                console.log('studentSelect:', studentSelect);
                console.log('courseSelect:', courseSelect);
                console.log('courseSelect:', courseSelect);

                const requestBody = {
                    student: studentSelect.value,
                    course: courseSelect.value,
                    date: editForm.querySelector('input[name="date"]').value,
                    status: editForm.querySelector('input[name="status"]').value,
                };

                console.log(requestBody)

                try {
                    const response = await fetch(`/update/enrollment/${enrollmentId}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(requestBody)
                    });

                    if (response.ok) {
                        console.log("PUT request successful");
                        // Reload the page or perform any necessary actions
                        window.location.reload();
                    } else {
                        console.error("Error in PUT request");
                    }
                } catch (error) {
                    console.error(error);
                }
            });
        });




    </script>
    
</body>
</html>